[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[EC24F7C724F792B6]
row=2
col=0

[D26D-C5DD]
row=0
col=0

[CEF8F2D1F8F2B6B5]
row=3
col=0

[7A9C11D49C118BAF]
row=1
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/johannes]
row=6
col=0

